
\.idea/\.idea\.Escape/\.idea/

\.idea/\.idea\.Escape/

*.user

EscapeGameLibrary/bin/Debug/netcoreapp2\.2/

EscapeGameLibrary/obj/Debug/netcoreapp2\.2/

EscapeGameLibrary/obj/

EscapeTestHarness/bin/Debug/netcoreapp2\.2/

EscapeTestHarness/obj/Debug/netcoreapp2\.2/

EscapeTestHarness/obj/

IceDungeon/bin/Debug/netcoreapp2\.2/

IceDungeon/obj/Debug/netcoreapp2\.2/

IceDungeon/obj/
